header {
    background-color: black;
    width: 100%;
    height: 67px;
    background-image: url(../images/header_bg.png);
    background-repeat: repeat-x
}

.header_wrap {
    width: 60%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.header_logo {
    height: 100%;
    padding: 13px 0;
    box-sizing: border-box;
}

.header_nav {
    width: 40%;
    height: 100%;
}

.header_nav > ul {
    display: flex;   
    justify-content: space-around;
}

.header_nav > ul > li {
    line-height: 67px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header_nav > ul > li > a{
    color: white;
    font-weight: bold;
    font-size: 1.05rem;
}

.header_nav > ul > li > a:hover{
    color: red;
    
}

.header_sub {
    width: 15%;
    height: 100%;
}

.header_sub > ul {
    display: flex;
    justify-content: space-between;
}

.header_sub > ul > li {
    line-height: 67px;
    color: gray;
}

.header_sub > ul > li > a {
    font-size: 0.8rem;
    font-family: 'Times New Roman', Times, serif;
    color: gray;
}

.header_sub > ul > li > a:hover {
    color: white;
} 





