<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.onion.s1.bankbook.BankBookDAO">
  
  	<select id="getBankBookCount" parameterType="Pager" resultType="Long">
  		SELECT COUNT(BOOKNUMBER)  
		FROM BANKBOOK
  	</select>
  
  	<select id="getBankBookList" parameterType="Pager" resultType="BankBookDTO">
  		SELECT * FROM 
			(
				SELECT ROWNUM R, B.* FROM 
				(
					SELECT * FROM BANKBOOK 
					ORDER BY BOOKNUMBER DESC
				) B	
			) 
		WHERE R BETWEEN #{startRow} AND #{lastRow}
  	</select>
  	
  	<select id="getBankBookDetail" parameterType="BankBookDTO" resultMap="bankBookDetailResult">
		SELECT * 
			FROM BANKBOOK B
			LEFT OUTER JOIN
			BANKBOOKIMG BI
			ON (B.BOOKNUMBER = BI.BOOKNUMBER)
		WHERE B.BOOKNUMBER = #{bookNumber}
  	</select>
  	
  	<resultMap type="BankBookDTO" id="bankBookDetailResult">
  		<!-- Primary Key  -->
  		<id column="BOOKNUMBER" property="bookNumber" />
  		<!-- 그 외 나머지 -->
  		<result column="BOOKNAME" property="bookName" />
  		<result column="BOOKDETAIL" property="bookDetail" />
  		<result column="BOOKRATE" property="bookRate" />  		
  		<result column="BOOKSALE" property="bookSale" />  				
  		<!-- 1:1 관계일 때, collection보다 순서를 먼저 작성해야함 -->
  		<association property="bankBookImgDTO" javaType="BankBookImgDTO">
  			<id column="FILENUM" property="fileNum"/>
  			<result column="FILENAME" property="fileName"/>
  			<result column="ORINAME" property="oriName"/>
  		</association>
  		<!-- 1:N 관계일 때 -->
  		<!-- <collection property=""></collection> -->
  	</resultMap>
  	
  	<insert id="setBankBookAdd" parameterType="BankBookDTO"> 
  		INSERT INTO BANKBOOK (BOOKNUMBER, BOOKNAME, BOOKRATE, BOOKSALE, BOOKDETAIL)
  		VALUES(BANKBOOK_SEQ.NEXTVAL, #{bookName}, #{bookRate}, #{bookSale}, #{bookDetail})
  	</insert>
  	
  	<delete id="setBankBookDelete" parameterType="BankBookDTO">
  		DELETE BANKBOOK WHERE BOOKNUMBER = #{bookNumber}
  	</delete>
  	
  	<update id="setBankBookUpdate" parameterType="BankBookDTO">
  		UPDATE BANKBOOK SET BOOKNAME = #{bookName}, BOOKRATE = #{bookRate}, BOOKSALE = #{bookSale}, BOOKDETAIL = #{bookDetail}
  		WHERE BOOKNUMBER = #{bookNumber}
  	</update>
  	
  </mapper>